#main-container {
    position: absolute;
    padding: 5% 0%;
    top: 20%;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: white;
    overflow: hidden;
}

#video {
    margin: 0% 2%;
    width: 90%;
    height: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#info-container {
    height: 100%;
    width: 30%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-container h2 {
    margin: 10% 0%;
}

#info-container p {
    margin: 2% 5%;
}

#info {
    display: flex;
    flex-direction: column;
}

#info div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#info div i {
    margin-left: 2vh;
}

#poster {
    width: 50%;
}

@media screen and (max-width: 767px) {
    #main-container {
        flex-direction: column;
    }

    #info-container {
        margin: 0;
        text-align: center;
        width: 90vw;
    }
}

#work-page-button-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#work-page-button-container .button {
    position: relative;
    min-width: 50%;
    max-height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    position: relative;
    margin: 2%;
    width: 35%;
    aspect-ratio: 4/1;
    max-height: 8%;

    background-color: transparent;
    border: solid var(--black) 2px;
    border-radius: 50vh;
    color: var(--black);
    overflow-y: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button p {
    color: black;
}

.button div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0%;
    transform: translateY(0%);
    height: 200%;
    width: 100%;
    transition: transform 0.5s;
}

.button div:hover {
    transform: translateY(-63%); 
}