.banner {
    position: absolute;   
    background-image: url("../images/banner_portfolio.jpg");
    background-size: cover;
    background-position-y: 7%;
}


.portfolio-section-item {
    display: inline-block;
}

.portfolio-section-item img {
    height: 25vw;
}