$colors: (
    primary: (
        100: rgb(235, 40, 90),
    ),
    dark: (
        100: rgb(15, 15, 15),
        900: rgb(0, 0, 0),
    ),
    light: (
        500: rgb(200, 200, 200),
        900: rgb(255, 255, 255),
    ),
);