/* src/styles/theme.css */
:root {
    /* Primary color palette */
    --md-sys-color-primary: #eb285a;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-primary-container: #EADDFF;
    --md-sys-color-on-primary-container: #21005D;
    
    /* Surface colors */
    --md-sys-color-surface: #1C1B1F;
    --md-sys-color-on-surface: #FFFBFE;
    --md-sys-color-surface-variant: #49454F;
    --md-sys-color-on-surface-variant: #E7E0EC;
    
    /* Other colors */
    --md-sys-color-error: #B3261E;
    --md-sys-color-on-error: #FFFFFF;
    
    /* Elevation shadows */
    --md-sys-elevation-level-0: none;
    --md-sys-elevation-level-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);


    --md-sys-color-outline: #505158;
}
  
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

button {
    background-color: transparent;
    border: none;
}

.md-button {
    text-decoration: none;
    color: var(--md-sys-color-on-surface);
    transition: color ease 0.25s;
}

.md-button:hover {
    cursor: pointer;
    color: var(--md-sys-color-primary)
}

.md-box-button {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: 10px 20px;
    border-radius: 4px;
    border: solid 2px transparent;
    transition: background-color ease 0.25s;
}

.md-box-button:hover {
    background-color: transparent;
    border: solid 2px var(--md-sys-color-on-primary);
}

.md-box-button:hover {
    cursor: pointer;
}