:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-color: #030303;
  --primary-color: #ff0062;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px;
}

a {
  color: white;
  text-decoration: none;
  transition: all ease 0.3s;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.icon {
  font-size: 24px;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: solid 2px transparent;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border-radius: 16px;
  cursor: pointer;
  transition: all ease 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: solid 2px transparent;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border-radius: 16px;
  cursor: pointer;
  transition: all ease 0.3s;
}

button:hover {
  background-color: transparent;
  color: var(--primary-color);
  transform: scale(1.05);
  border: solid 2px var(--primary-color);
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
  transform: scale(1.05);
  border: solid 2px var(--primary-color);
}

.pageBanner {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}