---
import ProjectGrid from "../components/ProjectGrid.astro";
import Layout from "../layouts/Layout.astro";

const primaryKeywords = [
  "Christopher Hosken",
  "Chris Hosken",
  "Generalist TD",
  "CG Generalist",
  "VFX Generalist",
  "Technical Director",
  "3D Technical Director",
  "FX Technical Director",
  "Pipeline Technical Director",
  "Bournemouth University",
  "Computer Animation Technical Arts",
  "Chiang Mai International School",
  "Bournemouth",
  "UK",
  "Thailand",
  "Chiang Mai",
  "Christopher Hosken Portfolio",
  "Chris Hosken TD",
  "Chris Hosken VFX",
  "Christopher Hosken Generalist",
];

const secondaryKeywords = [
  "Portfolio",
  "Works",
  "Projects",
  "Showreel",
  "Demo Reel",
  "Reel",
  "Blog",
  "Stories",
  "Posts",
  "Articles",
];

const pageMetadata = {
  keywords: [...primaryKeywords, ...secondaryKeywords],
  title: "Projects",
  description: "A collection of my projects and works.",
  image: "/images/seo-homepage.jpg",
};
---

<Layout metadata={pageMetadata}>
  <div class="projects-page">
    <h1 class="page-title">Projects</h1>
    <p class="page-description"> A collection of my personal and university works. </p>
    <div class="projects-content">
      <ProjectGrid />
    </div>
    <div class="projects-footer">
      <a
        href="https://www.youtube.com/@cjhosken"
        target="_blank"
        class="button"
      >
        See More on YouTube
      </a>
    </div>
  </div>
</Layout>
<style>
  .projects-page {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .page-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  .page-description {
    text-align: center;
    font-size: 1.2rem;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects-header::before {
    background: url("/images/projects-background.png") no-repeat center center;
    background-size: cover;
  }

  .projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0em 0em;
  }

  .projects-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
