---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import Map from "../components/Map.astro";
import "@material/web/button/filled-button.js";
import { Icon } from "astro-icon/components";

const primaryKeywords = [
  "Christopher Hosken",
  "Chris Hosken",
  "Generalist TD",
  "CG Generalist",
  "VFX Generalist",
  "Technical Director",
  "3D Technical Director",
  "FX Technical Director",
  "Pipeline Technical Director",
  "Bournemouth University",
  "Computer Animation Technical Arts",
  "Chiang Mai International School",
  "Bournemouth",
  "UK",
  "Thailand",
  "Chiang Mai",
  "Christopher Hosken Portfolio",
  "Chris Hosken TD",
  "Chris Hosken VFX",
  "Christopher Hosken Generalist",
];

const secondaryKeywords = ["Contact", "CV", "Job", "Resume", "Hire", "Work"];

const pageMetadata = {
  keywords: [...primaryKeywords, ...secondaryKeywords],
  title: "Contact",
  description: "Get in contact with me.",
  image: "/images/seo-homepage.jpg",
};
---

<Layout metadata={pageMetadata}>
  <img class="pageBanner" src="/images/contact.gif" alt="Contact banner" />
        <div id="contact">
          <div id="contact-container">
            <a
              href="https://maps.app.goo.gl/MKvBbA925MdXYqBv9"
              target="_blank"
              rel="noopener noreferrer"
              class="contactInfo"
            >
              <Icon name="mdi:location" size="32" />
              <h1> Location </h1>
              <p> Bournemouth, UK </p>
            </a>
            <a
              href="mailto:hoskenchristopher@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="contactInfo"
            >
              <Icon name="mdi:email" size="32" />
              <h1> Email </h1>
              <p> hoskenchristopher@gmail.com </p>
            </a>
            <a
              href="/ChristopherHosken_CurriculumVitae_2025.pdf"
              target="_blank"
              rel="noopener noreferrer"
              class="contactInfo"
            >
              <Icon name="mdi:download" size="32" />
              <h1> Download CV</h1>
              <p> Curriculum Vitae </p>
            </a>
          </div>
        </div>
    <ContactForm />
  </div>
</Layout>

<style is:global>

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 5rem rgba(0, 0, 0, 0.8);
}

#contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 0rem;
    width: fit-content;
    gap: 4rem;
}

.contactInfo {
    width: 25rem;
    font-size: 2rem;
    text-align: center;
}

.contactInfo h1 {
    font-size: 1.5rem;
}

.contactInfo p {
    font-size: 1rem;
}



</style>
