#hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#hero #backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

#hero #cover {
  position: absolute;
  color: white;
  text-align: left;
  top: 20%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

#cover h1 {
    font-size: 8rem;
}

#cover p {
    margin: 0;
    font-size: 3rem;
}

#cover button {

}

#hero #icon-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}


/* About Section */
#about {
  padding: 3rem 2rem;
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 80%;
  align-items: center;
  margin: 0 auto;
}

#info {
    width: 60%;
}

#info p {
    font-size: 1.5rem;
}

.headshot {
    margin: 2rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* History */
#experience {
  padding: 3rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}
.timeline {
  list-style: none;
  padding: 0;
}
.timeline li {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  border-left: 3px solid #333;
}

.timeline li #date {
  font-size: 1.25rem;
}

.timeline li #description {
  font-size: 1.5rem;
}

/* Skills */
#skills {
  padding: 3rem 2rem;
  max-width: 900px;
  margin: 0 auto;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.skill {
  padding: 0.75rem 1.25rem;
  background: black;
  border-radius: 20px;
  font-weight: bold;
}
