---
import Layout from '../layouts/Layout.astro';

const primaryKeywords = [
  'Christopher Hosken', 'Chris Hosken',
  'Generalist TD', "CG Generalist", "VFX Generalist",
  'Technical Director', '3D Technical Director', "FX Technical Director", "Pipeline Technical Director",
  'Bournemouth University', 'Computer Animation Technical Arts', "Chiang Mai International School",
  "Bournemouth", "UK", "Thailand", "Chiang Mai",
  'Christopher Hosken Portfolio', 'Chris Hosken TD', 'Chris Hosken VFX', "Christopher Hosken Generalist"
];

const secondaryKeywords = [
  'C++ Developer', 'USD Developer', 'Python Developer', 'Software Developer', 'Animation Tools Developer', 'Asset Pipeline Developer', '3D Pipeline Developer', '3D Tool Developer',
  'Houdini Artist', 'Blender Artist', 'Maya Artist',
  'Technical Director', 'Rigging TD', 'Pipeline TD', "FX TD", 'Rendering TD', 'Unreal Engine TD',
  'Technical Artist', 'Generalist Artist', '3D Artist', 'VFX Artist', 'CFX Artist', 'FX Artist', 'Simulation Artist','Procedural Artist',
  "Blender", "Houdini FX", "Maya", "Unreal Engine", "Unity", "Maya", "Nuke", "Katana", "Photoshop", "Substance Painter", "Mari", "ZBrush",
  "OpenUSD", "Pixar USD", "USD", "Python", "C++", "C#", "JavaScript", "HTML", "CSS", "Git", "GitHub", "Kotline", "Java"
];

const pageMetadata = {
  keywords: [...primaryKeywords, ...secondaryKeywords],
  image: '/images/seo-homepage.jpg'
};
---

<Layout metadata={pageMetadata}>
  <h1>Welcome to Astro</h1>
  <p>This is your homepage with Material Design navbar!</p>
</Layout>