---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import SoftwareCard from "../components/SoftwareCard.astro";
import CompanyCard from "../components/CompanyCard.astro";

const primaryKeywords = [
  "Christopher Hosken",
  "Chris Hosken",
  "Generalist TD",
  "CG Generalist",
  "VFX Generalist",
  "Technical Director",
  "3D Technical Director",
  "FX Technical Director",
  "Pipeline Technical Director",
  "Bournemouth University",
  "Computer Animation Technical Arts",
  "Chiang Mai International School",
  "Bournemouth",
  "UK",
  "Thailand",
  "Chiang Mai",
  "Christopher Hosken Portfolio",
  "Chris Hosken TD",
  "Chris Hosken VFX",
  "Christopher Hosken Generalist",
  "NCCA",
  "BOAP",
  "ETC",
  "Electric Theatre Collective",
];

const secondaryKeywords = [
  "C++ Developer",
  "USD Developer",
  "Python Developer",
  "Software Developer",
  "Animation Tools Developer",
  "Asset Pipeline Developer",
  "3D Pipeline Developer",
  "3D Tool Developer",
  "Houdini Artist",
  "Blender Artist",
  "Maya Artist",
  "Technical Director",
  "Rigging TD",
  "Pipeline TD",
  "FX TD",
  "Rendering TD",
  "Unreal Engine TD",
  "Technical Artist",
  "Generalist Artist",
  "3D Artist",
  "VFX Artist",
  "CFX Artist",
  "FX Artist",
  "Simulation Artist",
  "Procedural Artist",
  "Blender",
  "Houdini FX",
  "Maya",
  "Unreal Engine",
  "Unity",
  "Maya",
  "Nuke",
  "Katana",
  "Photoshop",
  "Substance Painter",
  "Mari",
  "ZBrush",
  "OpenUSD",
  "Pixar USD",
  "USD",
  "Python",
  "C++",
  "C#",
  "JavaScript",
  "HTML",
  "CSS",
  "Git",
  "GitHub",
  "Kotline",
  "Java",
];

const pageMetadata = {
  keywords: [...primaryKeywords, ...secondaryKeywords],
  image: "/images/seo-homepage.jpg",
};
---

<Layout metadata={pageMetadata}>
  <section id="hero">
    <video id="backdrop" autoplay muted loop>
      <source src="/videos/cover.mov" type="video/mp4" />
    </video>
    <div id="cover">
      <h1>Christopher Hosken</h1>
      <p>CG Generalist | Generalist TD</p>
      <button id="open-video-lightbox">Watch My Showreel</button>
    </div>
    <div id="icon-bar">
      <a
        href="https://www.linkedin.com/in/christopher-hosken/"
        target="_blank"
        class="icon"><Icon name="mdi:linkedin" /></a
      >
      <a href="https://github.com/cjhosken" target="_blank" class="icon"
        ><Icon name="mdi:github" /></a
      >
      <a
        href="https://www.youtube.com/@cjhosken"
        target="_blank"
        aria-label="Youtube"
        class="icon"><Icon name="mdi:youtube" /></a
      >
    </div>
  </section>
  <section id="about">
    <div class="about-container">
      <img src="/profile.jpg" alt="Christopher Hosken" class="headshot" />
      <div id="info">
        <h2>Hey! I'm Christopher Hosken</h2>
        <p>
          I'm an aspiring Generalist TD currently studying Computer Animation at
          Bournemouth University. I love all aspects of the VFX/Animation
          pipeline and am adaptable and willing to fit multiple positions. I am
          passionate about all things tech and am currently exploring Artificial
          Intelligence, Web Applications, and all things USD! I am currently
          looking for TD roles in pipeline, FX and RnD.
        </p>
      </div>
    </div>
  </section>
  <section id="features">
    <div class="container">
      <a
        href="https://github.com/cjhosken-studio"
        target="_blank"
        class="feature"
      >
        {/*<FaGear />*/}
        <Icon name="mdi:gear" size="42" />
        <h1>Pipeline</h1>
        <p>
          My experience as both an artist and developer has allowed me to
          write complex, user-friendly tools. Currently, I am
          experimenting with USD for modern pipelines.
        </p>
      </a>
      <a href="/blog" class="feature" target="_blank"> 
        {/*<FaFire />*/}
        <Icon name="mdi:fire" size="42" />
        <h1>FX</h1>
        <p>
          Primarily working in Houdini, I love working with fluids, pyro,
          vellum, and muscles. I'm growing an interest in CFX but love working
          on a variety of shots!
        </p>
      </a>
      <a href="https://github.com/cjhosken" target="_blank" class="feature">
        {/*<FaCode />*/}
        <Icon name="mdi:code" size="42" />
        <h1>R&D</h1>
        <p>
          I have a mathematics, physics, and programming background. I'm currently learning
          web development and seeing how the future of VFX/Animation
          can be web-based.
        </p>
      </a>
    </div>
    <a href="/blog" target="_blank" id="portfolio" class="button"> See Portfolio </a>
  </section>
  <section id="history">
    {/* History Section */}
    <section id="experience" class="history-container">
      <h2 class="experience">Experience</h2>
      <ul class="timeline">
        <li>
          <a href="https://electrictheatre.tv" target="_blank">
            <div class="header">
              <img src="/images/logos/etc.png" />
              <div class="title">
                <h1>R&D Intern</h1>
                <h2>Electric Theatre Collective</h2>
              </div>
            </div>
            <em id="date">Jun 2025 – Sep 2025</em>
            <p id="description">
              - Responsible for FX elements on live projects <br />
              - Developed user-friendly AI tools for motion capture and camera tracking
              <br />
              - Built a web app to rent AWS machines for rendering <br />
              - Integrated Blender into ETC’s pipeline <br />
            </p>
          </a>
        </li>
      </ul>
    </section>
    <section id="education" class="history-container">
      <h2 class="experience">Education</h2>
      <ul class="timeline">
        <li>
          <a
            href="https://www.bournemouth.ac.uk/about/our-faculties/faculty-media-communication/national-centre-computer-animation"
            target="_blank"
          >
            <div class="header">
              <img src="/images/logos/bu.jpg" />
              <div class="title">
                <h1>Computer Animation Technical Arts</h1>
                <h2>Bournemouth University | Bachelor of Arts</h2>
              </div>
            </div>
            <em id="date">Sep 2023 - Jun 2026 (Expected)</em>
            <p id="description">
              - Skills: Pipeline, Asset Creation, Rigging, FX, Lighting, Rendering, Compositing </br>
              - Primarily worked in Houdini with Solaris </br>
              - Developed Pipeline tools and renderfarm tools for the University </br>
              - Directed and led projects
              - Student Ambassador & Volunteer for the BFX Festival.
            </p>
          </a>
        </li>
      </ul>
    </section>
  <div style="width: 100%; text-align: center; padding: 2rem 0rem 4rem 0rem;">
    <a href="/ChristopherHosken_CurriculumVitae_2025.pdf" target="_blank" class="button" id="cv"> See Curriculum Vitae </a>
  </div>
  </section>
  <section id="skills">
    <h2>Skills</h2>
    <div class="skills">
      <SoftwareCard
        title="Houdini"
        img="/images/software/houdini.png"
        url="https://www.sidefx.com/products/houdini/"
      />
      <SoftwareCard
        title="Blender"
        img="/images/software/blender.png"
        url="https://www.blender.org/"
      />
      <SoftwareCard
        title="Maya"
        img="/images/software/maya.png"
        url="https://www.autodesk.com/uk/products/maya/overview"
      />
      <SoftwareCard
        title="Substance 3D"
        img="/images/software/substance.png"
        url="https://www.adobe.com/creativecloud/3d-ar/campaign/pricing.html"
      />
      <SoftwareCard
        title="Mari"
        img="/images/software/mari.png"
        url="https://www.foundry.com/products/mari"
      />
      <SoftwareCard
        title="Nuke"
        img="/images/software/nuke.png"
        url="https://www.foundry.com/products/nuke-family/nuke/"
      />
      <SoftwareCard
        title="ZBrush"
        img="/images/software/zbrush.png"
        url="https://www.maxon.net/en/zbrush"
      />
      <SoftwareCard
        title="Unity"
        img="/images/software/unity.png"
        url="https://unity.com/"
      />
      <SoftwareCard
        title="Unreal Engine"
        img="/images/software/unreal.png"
        url="https://www.unrealengine.com/en-US"
      />
      <SoftwareCard
        title="SynthEyes"
        img="/images/software/syntheyes.png"
        url="https://borisfx.com/products/syntheyes/"
      />
      <SoftwareCard
        title="OpenUSD"
        img="/images/software/usd.png"
        url="https://www.pixar.com/openusd"
      />
      <SoftwareCard
        title="Qt"
        img="/images/software/qt.png"
        url="https://www.qt.io/"
      />
      <SoftwareCard
        title="OpenGL"
        img="/images/software/opengl.png"
        url="https://www.opengl.org/"
      />
      <SoftwareCard
        title="Linux"
        img="/images/software/linux.png"
        url="https://www.linux.org/"
      />
      <SoftwareCard
        title="Windows"
        img="/images/software/windows.png"
        url="https://www.microsoft.com/en-gb/windows"
      />
      <SoftwareCard
        title="Android"
        img="/images/software/android.svg"
        url="https://www.android.com/intl/en_uk/"
      />
      <SoftwareCard
        title="Python"
        img="/images/software/python.png"
        url="https://www.python.org/"
      />
      <SoftwareCard
        title="C++"
        img="/images/software/cpp.png"
        url="https://cplusplus.com/"
      />
      <SoftwareCard
        title="C"
        img="/images/software/c.png"
        url="https://en.wikipedia.org/wiki/C_(programming_language)"
      />
      <SoftwareCard
        title="C#"
        img="/images/software/csharp.svg"
        url="https://dotnet.microsoft.com/en-us/languages/csharp"
      />
      <SoftwareCard
        title="Java"
        img="/images/software/java.png"
        url="https://www.java.com/en/"
      />
      <SoftwareCard
        title="Rust"
        img="/images/software/rust.png"
        url="https://www.rust-lang.org/"
      />
      <SoftwareCard
        title="Web (HTML, CSS, JS)"
        img="/images/software/web.png"
        url="https://www.itonlinelearning.com/blog/html-css-and-javascript-essential-front-end-languages-explained/"
      />
      <SoftwareCard
        title="Vite"
        img="/images/software/vite.png"
        url="https://vite.dev/"
      />
      <SoftwareCard
        title="React"
        img="/images/software/react.png"
        url="https://react.dev/"
      />
      <SoftwareCard
        title="Flutter"
        img="/images/software/flutter.png"
        url="https://flutter.dev/"
      />
    </div>
    <p>
      git, npm, Docker, rez, VEX, MEL, ComfyUI, Qube, Davinci Resolve, Premiere
      Pro, Karma, Arnold, VRay, Renderman
    </p>
    <p>Leadership Initiative, Communication, Problem Solving</p>
    <p>
      French (Niveau B1), Audio Tech, Graphic Design, Calculus, Statistics,
      Physics
    </p>
  </section>
  <section id="companies">
  <CompanyCard
    title="NCCA"
    img="/images/companies/ncca.png"
    url="https://www.bournemouth.ac.uk/about/our-faculties/faculty-media-communication/national-centre-computer-animation"
  />
  <CompanyCard
    title="Electric Theatre Collective"
    img="/images/companies/etc.png"
    url="https://electrictheatre.tv/"
  />
</section>
</Layout>

<style is:global>
#hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#hero #backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

#hero #cover {
  position: absolute;
  color: white;
  text-align: left;
  top: 20%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

#cover h1 {
  font-size: 8rem; /* default (desktop) */
}

#cover p {
  margin: 0;
  font-size: 3rem;
}

/* Mobile styles */
@media (max-width: 768px) {
  #cover h1 {
    font-size: 15vw; /* smaller on mobile */
  }

  #cover p {
    font-size: 5vw;
  }
}

#cover button {
  width: 16rem !important;
  height: 3.5rem !important;
  margin-top: 1rem;
}

#hero #icon-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

/* About Section */
#about {
  padding: 3rem 2rem;
  background-color: #242424;
  box-shadow: 0px 0px 5rem rgba(0, 0, 0, 0.5);
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  max-width: 100%;
  align-items: center;
  margin: 0 auto;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
}

#info p {
    font-size: 1.25rem;
}

.headshot {
  margin: 2rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #info {
    width: 80%;
  }

  #info p {
      font-size: 1.2rem;
  }
}

#features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0rem;
}

#features .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5rem;
  padding: 3rem 0rem;
}

.feature {
  width: 15rem;
  max-height: 28rem;
  padding: 2rem;
  
  text-align: center;
  background-color: #242424;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border: solid transparent 2px;
  transition: all ease 0.3s;
  cursor: pointer;
}

.feature:hover {
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.25);
  border: solid var(--primary-color) 2px;
  background-color: rgb(95, 27, 55);
  transform: scale(1.05);
  color: white;
}

.feature h1 {
  font-size: 3rem;
}

.feature p {
  font-size: 1.25rem;
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: solid 2px transparent;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  border-radius: 16px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
  transform: scale(1.05);
  border: solid 2px var(--primary-color);
}

/* MOBILE FIX FOR EXPERIENCE + EDUCATION */
@media (max-width: 768px) {
  #history {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .history-container {
    width: 100%;
    padding: 1.5rem 1rem;
    margin: 0;
  }

  .history-container .experience {
    font-size: clamp(1.3rem, 5vw, 2rem);
  }

  .timeline {
    width: 100%;
  }

  .timeline li {
    margin: 1rem 0;
    padding: 1.25rem;
    min-width: 0;
    width: 100%;
    min-height: auto;
  }

  .timeline li img {
    width: 3rem;
  }

  .timeline li .header h1 {
    font-size: clamp(1.2rem, 5vw, 1.8rem);
  }

  .timeline li .header h2 {
    font-size: clamp(0.9rem, 4vw, 1.3rem);
  }

  .timeline li #date,
  .timeline li #description {
    font-size: clamp(0.9rem, 4vw, 1.2rem);
  }
}

#history {
  width: 100%;
  padding: 0rem 0rem;
  padding-top: 2rem;
  height: fit-content;
  background-color: #242424;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
}

#history #cv {
  margin: 0 auto;
  margin-bottom: 4rem;
}

/* History */
.history-container {
  padding: 0rem 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.history-container .experience {
  padding: 0em 1em;
  border-bottom: solid 4px var(--primary-color);
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  text-align: left;
  min-width: 50%;
  width: fit-content;
}

.timeline li {
  padding-left: 1rem;
  margin: 2rem 0rem;
  background-color: #202020;
  border-radius: 16px;
  padding: 1rem;
  border: solid #333 2px;
  box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all ease 0.3s;
  min-height: 18rem;
  min-width: 300px;
  width: 100%;
}

.timeline li:hover {
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.25);
  border: solid var(--primary-color) 2px;
  background-color: rgb(95, 27, 55);
  transform: scale(1.05);
}

.timeline li:hover a {
  color: white;
}

.timeline li .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeline li img {
  margin-right: 1rem;
  width: 4rem;
  border-radius: 16px;
}

.timeline li .header .title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.timeline li .header h1 {
  font-size: 2.3rem;
}

.timeline li .header h2 {
  font-size: 1.25rem;
}

.timeline li #date {
  font-size: 1.25rem;
}

.timeline li #description {
  font-size: 0.9rem;
  color: #DDD;
}

/* Skills */
#skills {
  padding: 3rem 2rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
}

.skill {
  padding: 0.75rem 1.25rem;
  background: #242424;
  border-radius: 20px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5rem rgba(0, 0, 0, 0.5);
   border: solid transparent 2px;
  z-index: 2;
}

.skill:hover {
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.25);
  border: solid var(--primary-color) 2px;
  background-color: rgb(95, 27, 55);
  transform: scale(1.05);
}

.skill img {
  width: 90%;
  object-fit: cover;
}

#skills p {
  margin: 1rem;
  font-size: 1rem;
  color: #AAA;
}

#companies{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* space between companies */
    background-color: #111;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.35);
}

#open-video-lightbox {
  height: 4rem !important;
  width: 15rem !important;
}

</style>