---
import Layout from '../layouts/Layout.astro';

const primaryKeywords = [
  'Christopher Hosken', 'Chris Hosken',
  'Generalist TD', "CG Generalist", "VFX Generalist",
  'Technical Director', '3D Technical Director', "FX Technical Director", "Pipeline Technical Director",
  'Bournemouth University', 'Computer Animation Technical Arts', "Chiang Mai International School",
  "Bournemouth", "UK", "Thailand", "Chiang Mai",
  'Christopher Hosken Portfolio', 'Chris Hosken TD', 'Chris Hosken VFX', "Christopher Hosken Generalist"
];

const secondaryKeywords = [
  "Portfolio", "Works", "Projects", "Showreel", "Demo Reel", "Reel"
];

const pageMetadata = {
  keywords: [...primaryKeywords, ...secondaryKeywords],
  title: "Projects",
  description: "A collection of my projects and works.",
  image: '/images/seo-homepage.jpg'
};
---

<Layout metadata={pageMetadata}>
  <h1>Welcome to Astro</h1>
  <p>This is your projects with Material Design navbar!</p>
</Layout>