<header>
    <nav>
        <!-- <a href="/"><img src="/favicon.png" alt="Logo"></a>-->
        <div>
            <a href="/">Home</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>
</header>