---
// Import Mapbox GL JS and its CSS
import 'mapbox-gl/dist/mapbox-gl.css';
---

<div class="mapbox-map" id="map"></div>

<script>
    import mapboxgl, { AttributionControl } from 'mapbox-gl';
    // Set your Mapbox access token
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2pob3NrZW4iLCJhIjoiY202cGxoaDhjMDh5YzJyc2ZoaWZqOGZxaSJ9.1tmjIKyLkMGSbChJ2I8m5Q';

    // Initialize the map
    const map = new mapboxgl.Map({
        container: "map", // Container ID
        style: 'mapbox://styles/cjhosken/cl76cg0za001914m6ia43ct42',
        center: [-1.865000, 50.735036], // Initial map center
        zoom: 11, // Initial zoom level
        projection: "globe", // Use globe projection
        attributionControl: false,
        minZoom: 2,
        maxZoom: 11,
    });

    // Add a marker
    new mapboxgl.Marker({ color: "rgb(235, 40, 90)" })
        .setLngLat([-1.865000, 50.735036])
        .addTo(map);
</script>

<style>
    /* Ensure the map container has explicit dimensions */
    .mapbox-map {
        width: 100%;
        min-width: 640px;
        height: 100%;
        margin: auto;
    }

</style>