:root {
    --primary-background: white;
    --secondary-background: rgb(249, 249, 249);
    --accent: rgb(255, 50, 30);
    --dark-black: rgb(50,50,50);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-weight: lighter;
    font-family: 'Segoe UI';
    background-color: var(--secondary-background);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: overlay;
}

a {
    color: var(--dark-black);
    text-decoration: none;
}

nav {
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--primary-background);
    height: 7.5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav img {
    margin: 0vh 3vh;
    height: 7.5vh;
}

footer {
    bottom: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--primary-background);
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer div {
    margin: 0vh 2vh;
}

footer div a {
    text-decoration: none;
    color: var(--dark-black);
    margin: 0vh 1vh;
    transition: color 0.35s;
}


footer div a:hover {
    color: var(--accent);
}

/*

HOME STYLES

*/

main #home {
    overflow-y: scroll;
}

#showreel iframe {
    width: 70vw;
    aspect-ratio: 16/9;
}

/*

CONTACT STYLES

*/

main #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-y: hidden;
}

#contact-container {
    width: 50%;
    height: 100%;
}

#map-container {
    width: 50%;
    height: 100%;
}

#contact-container h1 {
    margin: 7.5vh 0vh;
    padding: 7.5vh;
    text-align: center;
    font-size: 5vh;
    font-weight: 400;
}


@media only screen and (max-width: 768px) {
    main #contact {
        flex-direction: column-reverse;
    }

    #contact-container {
        width: 100%;
        height: 70%;
    }

    #map-container {
        width: 100%;
        height: 30%;
    }

    #contact-container h1 {
        margin: 0vh;
    }
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#contact-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

#contact-info-container div {
    margin: 1vw;
    min-width: 10vw;
    text-align: center;
    color: var(--dark-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-info-container div i {
    font-size: 3vh;

}

#contact-info-container div h3 {
    color: var(--dark-black);
    font-weight: 300;
    font-family: 'Segoe UI';
}

.download-button {
    background-color: transparent;
    border: solid black 2px;
    border-radius: 2px;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.35s;
}

.download-button p, .download-button i {
    position: relative;
    padding: 0.5em 1em;
    transition: transform 0.35s, color 0.35s;
    color: black;
}

.download-button i {
    transform: translateY(-100%);
}

.download-button:hover {
    border-color: var(--accent);
}

.download-button:hover i {
    transform: translateY(50%);
    color: var(--accent);
}

.download-button p {
    transform: translateY(-50%);
}

.download-button:hover p {
    transform: translateY(100%);
}