html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
    overflow-x: hidden;
}

nav {
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

nav div {
    margin: 0px;
    display: inline-flex;
    vertical-align: top;
}

.nav-logo-container {
    width: 15%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    border-right: solid rgba(255, 255, 255, 0.1) 2px;
}

.nav-logo-container img {
    margin: 0 auto;
    height: 100%;
}

.nav-button-container {
    margin: 0px;
    width: 70%;
    height: 100%;
}

.nav-button-container ul, .nav-social-container ul {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

.nav-buttons {
    margin: 0 auto;
    width: 50%;
}

.nav-button-container a, .nav-social-container a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', serif;
    font-weight: 300;
    font-size: 1em;
}

.nav-social-container {
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    border-left: solid rgba(255, 255, 255, 0.1) 2px;
}

.dropdown {
    margin-right: 25px;
    color: white;
    display: none;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
}



@media (max-width: 899px) {
    .nav-social-container {
        display: none;
    }

    .nav-button-container {
        width: 85%;
    }
}

@media (max-width: 600px) {
    nav {
        height: 75px;
    }

    .nav-logo-container {
        width: 25%;
    }

    .nav-social-container {
        display: none;
    }

    .nav-buttons {
        display: none;
    }

    .nav-buttons.active {
        display: block;
        text-align: right;
        float: right;
        width: 9em;
    }

    .nav-buttons.active ul {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 7em;
        margin-top: 76px;
        margin-right: 0;
        padding: 0;
        text-align: center;
        align-items: normal;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(25px);
        border-radius: 2px;
    }

    .nav-buttons.active ul li {
        padding: 1em;
    }

    .nav-button-container {
        align-items: center;
        justify-content: end;
        width: 75%;
    }

    .dropdown {
        display: flex;
    }
}

.cover-container {
    height: 100vh;
}

.video {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: relative;
}

.overlay {
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
}

.caption {
    margin: 0 auto;
    color: white;
}

.caption h1 {
    font-size: 1em;
    font-weight: 800;
}

.caption h2 {
    font-size: 1.25em;
    font-weight: 400;
}

#about {
    width: 100%;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5em;
}

.profile-container {
    height: 100%;
    text-align: center;
}

.profile-container img {
    height: 300px;
    margin: 25px;
}

.info-container {
    text-align: left;
    width: 400px;
    color: white;
    padding: 5em;
}



#contact {
    width: 100vw;
    display: inline-flex;
    flex-wrap: nowrap;
}

.email-container {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(245, 245, 245);
}

.email-container ul {
    width: 100%;
    padding: 0;
    display: inline-flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.email-container ul li div {
    width: 250px;
    margin: 25px auto;
    text-align: center;
}

.email-container ul li i {
    color: rgb(35, 35, 35);
    text-align: center;
    font-size: 2em;
}

.email-container ul li h2 {
    color:rgb(17, 17, 17);
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
}

.email-container ul li h3 {
    color: rgb(100, 100, 100);
    text-align: center;
    font-size: 0.95em;
    font-weight: 500;
}

.email-container p {
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
}

.email-container .contact-info-container {
    text-align: center;
    padding-top: 2em;
}

.email-container .contact-form-container {
    padding: 0em 2em 0em 2em;
}

.email-container table {
    margin: 0 auto;
    width: 100%;
    border-spacing: 1em;
}

table tr:first-child td {
    height: 4em;
    text-align: center;
}

table td {
    height: 10em;
    text-align: center;
}

table tr:last-child td {
    height: 3em;
}

.email-container input, textarea {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: solid rgb(230, 230, 230) 1px;
    padding: 0em 1em;
    font-family: 'Raleway';
}

.email-container #message {
    resize: none;
    font-family: 'Raleway';
    padding: 1em;
}

.email-container button {
    width: 100%;
    height: 3em;
    border: none;
    color: white;
    background-color: rgb(17, 17, 17);
    font-family: 'Raleway';
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2px;
}

.map-container {
    display: flex;
    width: 50%;
    background-color: rgb(17, 17, 17);
}

#map {
    width: 100%;
}

@media (max-width: 1199px) {
    #contact {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .email-container {
        width: 100%;
    }

    .map-container {
        width: 100%;
        height: 25vh
    }
}

footer {
    width: 100vw;
    background-color: rgb(17, 17, 17);
    color: white;
}

.upper-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 75%;
    padding: 0.5em;
    flex-wrap: wrap;
}

.upper-footer-container img {
    height: 100px;
}

.upper-footer-container ul {
    padding: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-footer-container ul li {
    text-align: center;
    margin: 0px 1em;
}

.upper-footer-container ul li a {
    color: white;
    text-decoration: none;
}

.lower-footer-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;   
    padding: 0.5em;
    border-top: solid rgba(255, 255, 255, 0.25) 1px;
}

.lower-footer-container p {
    font-weight: 300;
}